body, html {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.container {
    height: 100%;
}
#map-canvas {
    height: -moz-calc(100% - 64px);
    height: -webkit-calc(100% - 64px);
    height: -o-calc(100% - 64px);
    height: calc(100% - 64px);
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.select-dropdown {
    text-indent: 10px;
}

#inputForm {
    position: absolute;
    top: 100px;
    margin-left: -200px;
    left: 50%;
    z-index: 5;
    background-color: transparent;
}

#toggleButtons {
    position: absolute;
    margin-left: 55px;
    right: 50px;
    bottom: 20px;
    background-color: transparent;
}
