body {
    font-size: 16px;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    height: -moz-calc(100% - 64px);
    height: -webkit-calc(100% - 64px);
    height: -o-calc(100% - 64px);
    height: calc(100% - 64px);
}

.font-small {
    font-size: 12px;
}

#logo {
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px
}
.center-text {
    text-align: center;
}

.center-all {
    margin: 0 auto;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding-left: 10px;
}

.black-text {
    color: #292929;
}

#nav-menu {
    margin-left: 50px;
}

.profile-picture {
    box-shadow: 0px 0px 3pt 1pt rgba(50, 50, 50, 250);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#home-link {
    display: none;
}

.side-nav #home-link {
    display: inherit;
}
