{% extends "base.html" %}
{% block navbar_right %}
    {% if loggedin %}
        {% include 'profile_link.html' %}
        {% include 'geo_link.html' %}
        {% include 'donate_link.html' %}
        {% include 'settings_link.html' %}
        {% include 'logout_link.html' %}
    {% else %}
        {% include 'geo_link.html' %}
        {% include 'about_link_active.html' %}
        {% include 'donate_link.html' %}
        {% include 'login_link.html' %}
{% endif %}
{% endblock navbar_right %}
{% block bodycontent %}
<div class="container">
    <div class="col s12">
        <h2 class="center-text">wheredabathroomatdoe?!</h1>
        <div class="card white">
            <div class="card-content">
                <span class="card-title black-text">About Us</span>
                <p>
                This website was created by
                <a href="https://github.com/abrarahmed56/">Abrar Ahmed</a>,
                <a href="https://github.com/erickolbusz">Eric Kolbusz</a>,
                <a href="https://github.com/trunkatedpig">Aaron Mortenson</a>, and
                <a href="https://github.com/ChesleyTan">Chesley Tan</a>
                in order to help people find public utilities. Whether you need water, a bench, or a bathroom, <b>wheredabathroomatdoe</b> will help you find it.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock bodycontent %}
