{% extends "base.html" %}
{% block navbar_right %}
    {% if loggedin %}
        {% include 'home_link.html' %}
        {% include 'profile_link.html' %}
        {% include 'geo_link.html' %}
        {% include 'donate_link.html' %}
        {% include 'settings_link.html' %}
        {% include 'logout_link.html' %}
    {% else %}
        {% include 'geo_link.html' %}
        {% include 'about_link_active.html' %}
        {% include 'donate_link.html' %}
        {% include 'login_link.html' %}
{% endif %}
{% endblock navbar_right %}
{% block bodycontent %}
<div class="container">
    <div class="col s12">
        <h2 class="center-text">wheredabathroomatdoe?!</h1>
        <div class="card panel white">
            <div class="card-content">
                <h2 class="center-text">About Us</h2>
                <h4 class="center-text">Why did we make this website?</h3>
                <p>
                We hope that our app will encourage people to be outside more often. People will
                be more willing to go outside for leisurely activities, such as
                jogging, if they
                know that all their physical needs can be satisfied on a whim. Everyone knows where to
                find food in NYC, but where do we find bathrooms, benches, or water fountains?
                This may be easy if we are in a park, but what if we're not anywhere near a
                park? We want to break down the limitations that physical human needs impose.
                </p>
                <br/>
                <p>
                In addition to encouraging spending time outside, we hope that the use of our
                app will increase public awareness of the availability and the state of public
                utilities. An increased public consciousness of these utilities will help to
                ensure that they are respected and preserved for use by others.
                </p>
                <br/>
                <p>
                An opportunity for improvement that arises from the use of our app is the
                ability to transmit review information to public utility maintainers so that
                they know what needs to be improved. The availability of public utilities can
                also encourage more foot traffic within a particular neighborhood, thus helping
                the growth of local economies and their businesses.
                </p>
                <h4 class="center-text">Who are we?</h4>
                <p>
                This website was created by
                <a href="https://github.com/abrarahmed56/">Abrar Ahmed</a>,
                <a href="https://github.com/erickolbusz">Eric Kolbusz</a>,
                <a href="https://github.com/trunkatedpig">Aaron Mortenson</a>, and
                <a href="https://github.com/ChesleyTan">Chesley Tan</a>
                in order to help people find public utilities. Whether you need water, a bench, or a bathroom, <b>wheredabathroomatdoe</b> will help you find it.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock bodycontent %}
