{% extends "base.html" %}
{% block navbar_right %}
    {% if loggedin %}
        {% include 'geo_link.html' %}
        {% include 'donate_link.html' %}
        {% include 'logout_link.html' %}
    {% else %}
        {% include 'geo_link.html' %}
        {% include 'about_link_active.html' %}
        {% include 'donate_link.html' %}
        {% include 'login_link.html' %}
   {% endif %}
{% endblock navbar_right %}
{% block bodycontent %}
{% include 'login.html' %}
{% include 'register.html' %}
<h1>wheredabathroomatdoe?!</h1>
<p>
  This website was created by Abrar Ahmed, Eric Kolabjawo, Aaron Mortenson, and Chesley Tan in order to help people find public utilities. Whether you need water, a bench, or a bathroom, <b>wheredabathroomatdoe</b> will help you find it.
</p>
{% endblock bodycontent %}
