<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/gif" href="{{ url_for('static', filename='img/favicon.gif') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>
    {% block title %}
    <title>wheredabathroomatdoe?!</title>
    {% endblock title %}
    {% block headcontent %}
    {% endblock headcontent %}
  </head>
  <body class="blue-grey lighten-4">
    <header>
        <nav class="top-nav green">
	  <div class="nav-wrapper">
            {% block navbar_left %}
            <a href="{{ url_for('index') }}" class="brand-logo no-select" id="logo">WhereDaBathroomAtDoe?!</a>
            {% endblock navbar_left %}
            <a href="#" data-activates="mobile-version" class="button-collapse"><i id="nav-menu" class="mdi-navigation-menu"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% block navbar_right %}
              {% endblock navbar_right %}
            </ul>
            <ul class="side-nav" id="mobile-version">
              {{ self.navbar_right() }}
            </ul>
          </div>
        </nav>
    </header>
    <div id="flashed_messages">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <script>
	    var flashed_messages = [];
            {% for message in messages %}
            flashed_messages.push("{{ message }}");
            {% endfor %}
          </script>
        {% endif %}
      {% endwith %}
    </div>
    {% if loggedin %}
    {% include 'logout.html' %}
    {% else %}
    {% include 'login.html' %}
    {% include 'register.html' %}
    {% include 'reset_password.html' %}
    {% endif %}
    {% block bodycontent %}
    {% endblock bodycontent %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- If jQuery was not loaded from CDN, use the local version -->
    <script>window.jQuery || document.write("<script src=\"{{ url_for('static',
filename='js/jquery-1.11.3.min.js') }}\"><\/script>")</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>window.jQuery.fn.modal || document.write('<script src="static/js/twitter-bootstrap/bootstrap.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone.marionette.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
