{% extends "base.html" %}
{% block navbar_right %}
   {% if loggedin %}
        {% include 'geo_link.html' %}
        {% include 'donate_link_active.html' %}
        {% include 'logout.html' %}
        {% include 'logout_link.html' %}
    {% else %}
        {% include 'geo_link.html' %}
        {% include 'about_link.html' %}
        {% include 'donate_link_active.html' %}
        {% include 'login_link.html' %}
   {% endif %}
{% endblock navbar_right %}
{% block bodycontent %}
<h2>GOODNITE SWEET PRINSE</h2>
<!-- TODO FIXME this page breaks the modal for login/register -->
<table>
    <tr>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
    </tr>
    <tr>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
    </tr>
    <tr>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
    </tr>
    <tr>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
    </tr>
    <tr>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
        <td><script src="http://coindonationwidget.com/widget/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
        </script></td>
    </tr>
</table>
{% endblock bodycontent %}
