{% extends "base.html" %}
{% block donate_link %}
<li class="active"><a href="{{ url_for('donate') }}">Donate</a></li>
{% endblock donate_link %}
{% block bodycontent %}
<h2>GOODNITE SWEET PRINSE</h2>
<table>
<tr>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
</tr>
<tr>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
</tr>
<tr>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
</tr>
<tr>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
</tr>
<tr>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
<td><script src="http://coindonationwidget.com/widget/coin.js"></script>
<script>CoinWidgetCom.go({wallet_address:"9vzJXw2zmKrJvDWvsNZdFPmgY6x2n5ySUr",currency:"dogecoin",counter:"amount",language:"en",decimals:2,lbl_amount:"DOGE"});
</script></td>
</tr>
</table>
{% endblock bodycontent %}
