{% extends "base.html" %}
{% block headcontent %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/geo.css') }}"/>
{% endblock headcontent %}
{% block navbar_right %}
    {% if loggedin %}
        {% include 'profile_link.html' %}
        {% include 'geo_link_active.html' %}
        {% include 'donate_link.html' %}
        {% include 'settings_link.html' %}
        {% include 'logout_link.html' %}
    {% else %}
        {% include 'geo_link_active.html' %}
        {% include 'about_link.html' %}
        {% include 'donate_link.html' %}
        {% include 'login_link.html' %}
   {% endif %}
{% endblock navbar_right %}
{% block bodycontent %}
<div class="row">
{% if loggedin %}
  <form>
    <div class="input-field col s6">
      <select name="utils" id="utilType" class="white">
	<option value="NONE" disabled selected>Select Utility Type</option>
	<option value="bench">Bench</option>
	<option value="fountain">Water Fountain</option>
	<option value="bathroom">Bathroom</option>
      </select>
    </div>
    <div class="input-field col s6">
      <input type="button" id="b" value="Utility Spotted" onclick="getPosition(MARK);" class="btn green darken-3"/>
    </div>
  </form>
{% endif %}
</div>
<div id="map-canvas"></div>
{% include 'util_info.html' %} 
{% endblock bodycontent %}
{% block scripts %}
<!-- TODO: load locally with slow connections -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="static/js/geo.js"></script>
{% endblock scripts %}


