{% extends "base.html" %}
{% block headcontent %}
    <style>
      body, html {
      height: 100%;
      margin: 0px;
      padding: 0px
      }
      #map-canvas {
      height: 50%;
      width: 50%;
      margin: 0px;
      padding: 0px
      }
    </style>
    {% endblock headcontent %}
    
    {% block bodycontent %}
    <select name="utils" id="utilType">
      <option value="static/img/bench.gif">Bench</option>
      <option value="static/img/fountain.gif">Water Fountain</option>
      <option value="static/img/bathroom.gif">Bathroom</option>
    </select>
    <input type="button" id="b" value="Bench Spotted" onclick="getPosition(MARK);" class="btn green darken-3"/>
    <div id="map-canvas"></div>
    <div id="error-div"></div>
    {% endblock bodycontent %}
    {% block scripts %}
    <!-- TO DO: load locally with slow connections -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="static/js/geo.js"></script>
    {% endblock scripts %}

 


    
