{% extends "base.html" %}
{% block navbar_right %}
    {% include 'profile_link.html' %}
    {% include 'geo_link.html' %}
    {% include 'donate_link.html' %}
    {% include 'settings_link.html' %}
    {% include 'logout_link.html' %}
{% endblock navbar_right %}
{% block bodycontent %}
<div class="container">
    <h1>Places:</h1>
    <script type="text/template" id="t">
    <td><%- type %></td><td><%- address %></td><td><%- rating %></td><td><button id="delete" class="pure-button">Delete</button><button id="directions" class="pure-button">Directions</button>
    </script>
    <script type="text/template" id="comptemp">
    <button class="pure-button" id="add">Add</button>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr><th>Type</th><th>Address</th><th>Rating</th><th>Remove</th></tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </script>

    <table class="pure-table pure-table-bordered" id="place">
    </table>

</div>
{% endblock bodycontent %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
  {% for place in places %}
  console.log({{place}});
  {% endfor %}
</script>
{% endblock scripts %}
