{% extends "base.html" %}
{% block headcontent %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')
}}"></link>
{% endblock headcontent %}
{% block navbar_right %}
    {% include 'home_link_active.html' %}
    {% include 'profile_link.html' %}
    {% include 'geo_link.html' %}
    {% include 'donate_link.html' %}
    {% include 'settings_link.html' %}
    {% include 'logout_link.html' %}
{% endblock navbar_right %}
{% block bodycontent %}
<div class="container">
    <h1>My Places:</h1>
    <script type="text/template" id="t">
    <td><%- type[0].toUpperCase() + type.substring(1) %></td><td
    style="text-align: left"><%- address %></td><td><%- rating %></td>
    <td><button id="delete" class="btn waves-effect red">Delete<i
    class="mdi-action-delete left"></i></button></td><td><button
    id="directions" class="btn waves-effect teal">Directions<i
    class="mdi-maps-directions left"></i></button>
    </script>
    <script type="text/template" id="comptemp">
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr><th>Type</th><th style="text-align:left">Address</th><th>Rating</th><th>Remove</th><th>Directions</th></tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </script>

    <table id="place">
    </table>

</div>
{% endblock bodycontent %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock scripts %}
