{% extends "base.html" %}
	    {% block login_link %}
	    <li class="active"><a href="{{ url_for('login') }}">Login</a></li>
	    {% endblock login_link %}
{% block bodycontent %}
  <body>
    Enter your credentials here.
    <form method="POST">
      Username:
      <input type="text" id="email" placeholder="your_awesome@email.com" required></input>
      <br>
      Password:
      <input type="password" id="password" placeholder="SuperSecretPassword" pattern=".{6,50}" required></input>
      <br>
      <input type="submit" value="Login" id="submit"></input>
    </form>
    <script></script>
{% endblock bodycontent %}
