{% extends "base.html" %}
{% block navbar_right %}
    {% include 'geo_link.html' %}
    {% include 'about_link.html' %}
    {% include 'donate_link.html' %}
    {% include 'login_link.html' %}
{% endblock navbar_right %}
{% block bodycontent %}

<div class="container">
    <h1 class="center-text">Password Reset Form</h1>
    <div class="row card-panel white">
        <form id='form' class="col s12" method="POST" onsubmit="return matchPasswords('new_password', 'confirm_password')">
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"></i>
                    <label class="active" for="email">Email</label>
                    <input type="email" id="resetEmail" class="validate" name="resetEmail" placeholder="your_awesome@email.com" class="white" required></input>
                </div>
            </div>
            <div class="row">		
	        <div class="input-field col s6">
                    <i class="mdi-action-lock prefix"></i>
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" class="validate" name="new_password" placeholder="NewSuperSecretPassword"
                    pattern=".{8,50}" class="validate">
                </div>
                <div class="input-field col s6">
                    <label for="confirm_password">Confirm New Password</label>
                    <input type="password" id="confirm_password" class="validate" name="confirm_password" placeholder="NewSuperSecretPassword" pattern=".{8,50}">
                </div>
            </div>
	    <div>
                <button type="submit" value="Reset" id="submit" 
		        class="btn waves-effect waves-light">Reset Password</button>
	    </div>
        </form>
    </div>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock scripts %}
{% endblock bodycontent %}
