{% extends "base.html" %}
{% block navbar_right %}
   {% include 'profile_link_active.html' %}
   {% include 'geo_link.html' %}
   {% include 'donate_link.html' %}
   {% include 'settings_link.html' %}
   {% include 'logout_link.html' %}
{% endblock navbar_right %}
{% block bodycontent %}
<div class="container">
    <br/>
    <div>
        <div class="card-panel white">
            <h3>Welcome to {{ user_data['first_name'] }}'s profile!</h3>
            <div class="col s12 text-center">
                <i class="mdi-social-person prefix"></i>
                <b>Name:</b> {{ user_data['first_name'] }} {{ user_data['last_name'] }}
                <br/>
                <i class="mdi-communication-email prefix"></i>
                <b>Email:</b> {{ user_data['email'] }}
                <br/>
                <i class="mdi-editor-mode-edit prefix"></i>
                <b>User Bio:</b> {{ user_data['bio'] }}
            </div>
    </div>
</div>
{% endblock bodycontent %}
