{% extends "base.html" %}
{% block navbar_right %}
   {% include 'profile_link_active.html' %}
   {% include 'geo_link.html' %}
   {% include 'donate_link.html' %}
   {% include 'settings_link.html' %}
   {% include 'logout_link.html' %}
{% endblock navbar_right %}
{% block headcontent %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}"/>
{% endblock headcontent %}
{% block bodycontent %}
<div class="container">
    <br/>
    <div>
        <div class="card-panel white col s12">
            <div class="row">
                <div class="col s12 center-all">
                    <h3>Welcome to {{ user_data['first_name'] if
                        user_data['first_name'] else 'Anonymous' }}'s profile!</h3>
                    <img src="{{ user_data['profile_pic'] }}" alt="Profile Picture" class="profile-picture no-select"/>
                    <br/>
                    <i>
                        {{ user_data['bio'] }}
                    </i>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div id="profile-container">
                    <span class="profile-data-category">
                        <i class="mdi-social-person prefix"></i>
                        <b>Name:</b>
                    </span>
                    <span class="profile-data">
                        {% if user_data['first_name'] or user_data['last_name'] %}
                            {{ user_data['first_name'] }} {{ user_data['last_name'] }}
                        {% else %}
                            Anonymous
                        {% endif %}
                    </span>
                    <br/>
                    <br/>
                    <span class="profile-data-category">
                        <i class="mdi-communication-email prefix"></i>
                        <b>Email:</b>
                    </span>
                    <span class="profile-data">
                        {{ user_data['email'] }}
                    </span>
                    <br/>
                    <br/>
                    {% if user_data['user_can_be_reported'] %}
                        <form action="{{ url_for('report_user',
                            userid=user_data['uid-deflated']) }}" method="POST" class="center-all">
                            <button type="submit" class="btn waves-effect red">Report this user</button>
                        </form>
                    {% endif %}
                </div>
            </div>
    </div>
</div>
{% endblock bodycontent %}
