<div id="register" class="modal">
    <div class="modal-content white">
        <div>
            <h4>Register</h4>
            <form method="POST" action="{{ url_for('welcome') }}" onsubmit="return matchEmails('registerEmail1', 'registerEmail2') && matchPasswords('registerPassword1', 'registerPassword2')">
                <input type="hidden" name="register">
                <input type="hidden" name="sourceUrl" id="sourceUrlRegister" value=""/>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="mdi-communication-email prefix"></i>
                        <label class="active" for="email1">Email</label>
                        <input type="email" id="registerEmail1" class="validate" name="registerEmail1" placeholder="your_awesome@email.com" required></input>
                    </div>
                    <div class="input-field col s6">
                        <label class="active" for="email2">Confirm Email</label>
                        <input type="email" id="registerEmail2" class="validate" name="registerEmail2" placeholder="your_awesome@email.com" required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-maps-local-phone prefix"></i>
                        <label class="active" for="phone">Phone</label>
                        <input type="tel" id="registerPhone" class="validate"
                        name="registerPhone" placeholder="1-234-567-8900"
                        pattern="[-0-9]{10,14}" required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="mdi-action-lock prefix"></i>
                        <label class="active" for="password">Password</label>
                        <input type="password" id="registerPassword1"
                        class="validate" name="registerPassword1" placeholder="SuperSecretPassword" pattern=".{8,50}" required></input>
                    </div>
                    <div class="input-field col s6">
                        <label class="active" for="password">Confirm Password</label>
                        <input type="password" id="registerPassword2"
                        class="validate" name="registerPassword2" placeholder="SuperSecretPassword" pattern=".{8,50}" required></input>
                    </div>
                </div>
                <input type="submit" value="Register" id="submit" class="btn green darken-2"></input>
            </form>
        </div>
    </div>
</div>
<script>
document.getElementById("sourceUrlRegister").value = window.location.href;
</script>
