<div id="reset_password" class="modal">
    <div class="modal-content white">
        <div>
            <h4>Forgot Password</h4>
            <form method="POST" action="{{ url_for('welcome') }}">
	        <input type="hidden" name="reset_password">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        <label class="active" for="email">Email</label>
                        <input type="email" id="forgotEmail" class="validate" name="forgotEmail" placeholder="your_awesome@email.com" class="white" required></input>
                    </div>
                </div>
                <button type="submit" value="Reset" id="submit" class="btn green darken-2 waves-effect waves-light">Reset Password</button>
            </form>
        </div>
    </div>
</div>
