{% extends "base.html" %}
{% block navbar_right %}
    {% include 'profile_link.html' %}
    {% include 'geo_link.html' %}
    {% include 'donate_link.html' %}
    {% include 'settings_link_active.html' %}
    {% include 'logout_link.html' %}
{% endblock navbar_right %}
{% block bodycontent %}

<div class="container">
    <h1 class="center-text">My Settings</h1>
    <div class="row card-panel white">
        <div id="profile_pic_container" class="center-all">
            <img src="{{ user_data['profile_pic'] }}" alt="Profile Picture" class="profile-picture no-select"/>
            {% include 'upload_link.html' %}
            {% include 'upload_form.html' %}
        </div>
        <form id='form' class="col s12" method="POST" onsubmit="return matchPasswords('new_password', 'confirm_password')">
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"></i>
                    <label for="email">Email</label>
                    <input type="email" id="new_email" class="validate" name="new_email" value="{{ user_data['email'] }}"></input>
                </div>
                {% if not user_data['email_confirmed'] %}
                <span id="email_confirm_warning" class="col s12 red-text">
                    <i class="mdi-alert-warning prefix red-text"></i>
                    Your email has not been confirmed.
                    <br/>
                    Please click <a href="#">here</a>
                    to receive a confirmation email with more details.
                </span>
                {% else %}
                <span id="email_confirm_acknowledge" class="col s12 green-text">
                    <i class="mdi-action-verified-user prefix green-text"></i>
                    Your email has been confirmed.
                </span>
                {% endif %}
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-local-phone prefix"></i>
                    <label for="phone">Phone number</label>
                    <input type="tel" id="new_phone" class="validate"
                    name="new_phone" pattern="[-0-9].{10,14}" value="{{ user_data['phone'] }}"></input>
                </div>
                {% if not user_data['phone_confirmed'] %}
                <span id="phone_confirm_warning" class="col s12 red-text">
                    <i class="mdi-alert-warning prefix red-text"></i>
                    Your phone number has not been confirmed.
                    <br/>
                    Please click <a href="#">here</a>
                    to receive a confirmation SMS text message with more details.
                </span>
                {% else %}
                <span id="phone_confirm_acknowledge" class="col s12 green-text">
                    <i class="mdi-action-verified-user prefix green-text"></i>
                    Your phone number has been confirmed.
                </span>
                {% endif %}
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="mdi-social-person prefix"></i>
                    <label for="first_name">First name</label>
                    <input type="text" id="new_firstname" class="validate" name="new_firstname" pattern=".{0,50}" value="{{ user_data['first_name'] }}"></input>
                </div>
                <div class="input-field col s6">
                    <label for="last_name">Last name</label>
                    <input type="text" id="new_lastname" class="validate" name="new_lastname" pattern=".{0,50}" value="{{ user_data['last_name'] }}"></input>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-editor-mode-edit prefix"></i>
                    <label for="bio">Bio</label>
                    <textarea id="bio" name="new_bio"
                        class="materialize-textarea validate" maxlength=250 length="250">{{ user_data['bio'] }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="mdi-action-lock prefix"></i>
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" class="validate" name="new_password" placeholder="NewSuperSecretPassword"
                    pattern=".{8,50}" class="validate">
                </div>
                <div class="input-field col s6">
                    <label for="confirm_password">Confirm New Password</label>
                    <input type="password" id="confirm_password" class="validate" name="confirm_password" placeholder="NewSuperSecretPassword" pattern=".{8,50}">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-content-report prefix red-text"></i>
                    <label for="password">Verify Password</label>
                    <input type="password" id="verify_password" class="validate" name="verify_password" placeholder="CurrentSuperSecretPassword" pattern=".{8,50}" required>
                </div>
            </div>
            <div class="row">
                <div class="center-text">
                        <button id="update" name="update" value="update"
                            class="btn waves-effect waves-light">Update</button>
                </div>
            </div>
        </form>
        {% include 'delete_account_link.html' %}
        {% include 'delete_account_form.html' %}
    </div>
</div>

{% block scripts %}
{% endblock scripts %}
{% endblock bodycontent %}
