<div id="infoWindow" style="display:none; width: 100%; margin: 0;">
<div class="card medium infoWindowCard" id="infoWindowCard">
    <div class="card-image waves-effect waves-block waves-light" style="height:
    100px">
        <img class="activator utilImage" height="100">
    </div>
    <div class="card-content" style="overflow:auto">
        <span class="card-title activator grey-text text-darken-4">
            <div class="utilTitleFront" style="line-height:24px"></div>
            <span style="font-size: 50%; position: absolute; bottom: 0;"
                  class="activator">See reviews</span>
            <i class="mdi-navigation-more-vert left" style="position: absolute;
            bottom: 0; right: 0;"></i>
        </span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
            <i class="mdi-navigation-close right"></i>
            <div class="utilTitleBack"></div>
        </span>
        <div class="utilDescription">This is where the bathroom at doe. Log in to
            see ratings and reviews!</div>
    </div>
</div>
</div>
