{% extends "base.html" %}
{% block navbar_right %}
    {% include 'geo_link.html' %}
    {% include 'about_link.html' %}
    {% include 'donate_link.html' %}
    {% include 'login_link.html' %}
{% endblock navbar_right %}
{% block bodycontent %}
<div>
    <h1 class="center-text">wheredabathroomatdoe?!</h1>
    <h6 class="center-text">You gotta go when you gotta go.</h6>
    <h4 class="center-text"><a href="#register" class="modal-trigger">Register now.</a></h4>
</div>
{% endblock bodycontent %}
